html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  margin-bottom: 150px;
  padding: 0 20px;
}


.navbar-list{
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 20%;
}

.navbar, .navbar-list a {
  text-decoration: none;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book-list {
  width: 50%;
  border: solid 2px black;
  border: solid;
}

.bookDIV {
  display: flex;
  justify-content: space-between;
  flex-shrink: 1;
  align-items: center;
  height: 1.5rem;
  padding: 1rem;
}

.bookDIV:nth-child(odd) { background-color: rgb(170, 169, 169); }


.h-add {
  margin-top: 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form > * {
  border: solid black 2px;
}

.btn-submit {
  align-self: flex-end;
}

button {
  border: solid black 2px;
  box-shadow: 3px 3px;
}