html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form > * + * {
  margin-top: 10px; }