html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* .navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid red;
  margin: 20px 20px;
} */


.navbar {
  display: flex;
  box-sizing: border-box;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  margin: 20px 30px;
  border: 2px solid black;
}

.navbar-list {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.navbar a {
  text-decoration: none;
  /* color: black; */
  font-size: 20px;
}
.navbar .navbar-list li::after {
  content: '';
  border-right: 2px solid black;
  margin: 10px;
}

/* 
.book-list{
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  margin: 50px auto;
  width: 70%;
}

/*  */




#date {
  display: flex;
  justify-content: flex-end;
  margin: 20px 30px;
}

/* #header{
  display: flex;
  flex-direction: column;
}

#date {
  align-self: flex-end;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  padding: 0 20px;
}

.navbar a {
text-decoration: none;
}


.navbar-list{
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 20%;
}

.navbar, .navbar-list a {
  text-decoration: none;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book-list {
  width: 50%;
  border: solid 2px black;
  border: solid;
}

.bookDIV {
  display: flex;
  justify-content: space-between;
  flex-shrink: 1;
  align-items: center;
  height: 1.5rem;
  padding: 1rem;
}

.bookDIV:nth-child(odd) { background-color: rgb(170, 169, 169); }


.h-add {
  margin-top: 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form > * {
  border: solid black 2px;
}

.btn-submit {
  align-self: flex-end;
}

button {
  border: solid black 2px;
  box-shadow: 3px 3px;
} */

#book-contact-section, #book-add-section,#book-list-section{
  display: none;
}

#book-contact-section {
  display: none;
  flex-direction: column;
  align-items: center;
  /* margin: 50px auto; */
  font-weight: 700;
}



.active {
  display: block !important;
}


#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 20px 20px;
  color: black;
  font-size: 20px;
  padding-left: 250px;
  border: 2px solid black;
}

#dateWrapper {
  padding-bottom: 150px;
}

.flex-container {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#book-add-section{
 flex-direction: column;
width: 40%;
}

#formSection{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#formSection button {
  width: fit-content;
  align-self: flex-end;
  width: fit-content;
  font-size: 18px;
  padding: 5px;
}

#formSection input {
  width: 100%;
  padding: 5px;
  border: 2px solid black;
}

h1 {
  text-align: center;
  font-size: 30px;
  margin: 5rem;
}

#formSection input {
  font-size: 18px;
}

#dateWrapper {
  padding: 0;
}

button {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 5px black;
}
button:hover{
background-color: rgba(114, 97, 97, 0.596);
}

#book-list-container {
  border: 2px solid black;

}
.bookDIV {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  font-weight: bold;
} 

.bookDIV:nth-child(odd) {
  background-color: rgb(170, 169, 169);
} 
.listBtn  {
  color:red;
}
